*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
   
    
}
body{
 background-image: url(t20back\ \(1\).jpeg); 
 background-repeat: no-repeat;
 background-size:1500px,2000px ;
 
}
.t20{
    display: flex;
    align-items:end;
    justify-content: space-evenly;
    margin-top: 20px;
    max-width: 500px;
    margin-left: 500px;
    gap: 50px;
    

}
.t20 img{
    width: 100px;
}
.line1{
background-color: rgb(0, 0, 145);
border-radius: 50px;
color: aliceblue;
width: 150px;
height: 50px;

align-content: center;
text-align: center;


}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px ;
}
.india{
    display: flex;
    align-items: center;
    justify-content:space-around;
    margin-right: 10px;
    background-color: rgb(255, 255, 255);
    width: 450px;
    border-radius: 50px; 
    height: 70px; 
    box-shadow: inset -2px -5px 22px -3px rgba(0,0,0,0.22);
}
.india img{
    width: 50px;
}
.ind{
    width: 150PX;
}
.westindies{
    display: flex;
    align-items: center;
    justify-content: space-around;
     background-color: rgb(255, 255, 255);
    width: 450px;
    border-radius: 50px; 
    height: 70px; 
    box-shadow: inset -2px -5px 22px -3px rgba(0,0,0,0.22); 
}
.westindies img{
    width: 50px;
}

.scr{
    display: flex;
    justify-content: center;
    align-items: center;
    
    gap: 2px ;
}
.indsc{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(255, 0, 98);
    width: 500px;
    gap: 150px;
    height: 50px;
    color: white;
    
}
.indsc img{
    width: 40px;
    margin-left: 20px;
    
}
.wisc{
     display: flex;
    justify-content: flex-end;
    align-items: center; 
    background-color:rgb(255, 0, 98);;
    width: 500px;
    gap: 150px;
    height: 50px;
    color: white;
    
}


.wisc img{
    width: 40px;
    margin-right: 20px;
    
}
.table{
    display: flex;
    justify-content: center;
    align-items: center;
   
    
}
th{
    border: none ;
    background-color: aliceblue ;
height: 40px;
box-shadow: 8px 9px 17px 3px rgba(0,0,0,0.33);
width: 40px;


}
td{
    border: none ;
    background-color: aliceblue ;
    box-shadow: 8px 9px 17px 3px rgba(0,0,0,0.33);
    
}
table tr td:nth-child(1){
    width: 414px;
    font-size: 17px;
    font-weight: bold;
    
}
table tr td:nth-child(3){
    width: 40px;
}
.foot{
    background-color: rgb(0, 0, 53) ;
    width: 1000px;
    justify-content: center;
    align-items: center;
    margin-left: 270px;
    text-align: center;
    color: rgb(255, 179, 0);
}
tr:hover td {
    background-color: #f0f8ff;
    transform: scale(1.01);
    transition: 0.2s;
}